#js-user_index
.main
  .item
    %h1 マッチングスコア
  .balloon1
    %p 名前をクリックするとマッチングスコアが確認できます！
  - @users.each do |user|
    = link_to user.full_name, user_matching_scores_path(user), class: "matching_users"
  = javascript_include_tag 'packs/user_index.bundle'
