= f.text_field :name, placeholder: 'お店の名前', required: true, class: "form_restaurant_name"
= f.select :genre, Restaurant.genres.keys, include_blank: "お店のジャンル", class: "form_restaurant_genre"
= f.text_field :url,  placeholder: 'お店のurl', required: true, class: "form_restaurant_url"
= f.text_area :description, placeholder: 'お店詳細', class: "form_restaurant_description"
