= f.text_field :name, placeholder: 'お店の名前', required: true, class: "name_of_restaurant"
= f.text_field :url,  placeholder: 'お店のurl', required: true, class: "url_of_restaurant"
= f.text_area :description, placeholder: 'お店詳細', class: "description_of_restaurant"