/*ログイン状態表示*/
.login_status {
  width: 256px;
  color: white;
  background-color: #dc3545;
  text-align: center;
}

/*flashメッセージの表示*/
.alert {
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
}

.alert-notice {
  background-color: #28a745;
}

.alert-error {
  background-color: #dc3545;
}

/*ページネーション*/
.pagination {
  text-align: center;
  padding: 0;
}

.pagination span {
  margin: 0;
  display: inline-block;
  text-align: center;
}

.pagination span a{
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #007bff;
  border-radius: 2px;
  border: 1px solid #000;
}

.pagination span a:hover {
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #007bff;
}

.pagination .current {
  padding: 10px;
  color: #000;
  border-radius: 2px;
  border: 1px solid #000;
}

.upper_pagination {
  margin: 10px 0;
}

.lower_pagination {
  margin: 20px 0;
}

/*共通するスタイリング*/
.item {
  margin: 0 auto;
}

.index_item {
  width: 100%;
  margin: 0 auto;
}

.link_items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.default_link {
  color: #6c757d;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #6c757d;
  font-size: 20px;
  padding: 5px 10px;
  text-decoration: none;
}

.default_link:hover {
  color: #fff;
  background-color: #6c757d;
}

.primary_link {
  color: #007bff;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #007bff;
  font-size: 20px;
  padding: 5px 10px;
  text-decoration: none;
}

.primary_link:hover {
  color: #fff;
  background-color: #007bff;
}

.success_link {
  color: #28a745;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #28a745;
  font-size: 20px;
  padding: 5px 10px;
  text-decoration: none;
}

.success_link_small {
  color: #28a745;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #28a745;
  font-size: 15px;
  padding: 0 6px;
  text-decoration: none;
}

.success_link_small:hover {
  color: #fff;
  background-color: #28a745;
}

.success_link:hover {
  color: #fff;
  background-color: #28a745;
}

.info_link {
  color: #17a2b8;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #17a2b8;
  font-size: 20px;
  padding: 5px 10px;
  text-decoration: none;
}

.info_link:hover {
  color: #fff;
  background-color: #17a2b8;
}

.danger_link {
  color: #dc3545;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid ;
  font-size: 20px;
  padding: 5px 10px;
  text-decoration: none;
}

.danger_link:hover {
  color: #fff;
  background-color: #dc3545;
}

.danger_link_small {
  color: #dc3545;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid ;
  font-size: 15px;
  padding: 0 6px;
  text-decoration: none;
}

.danger_link_small:hover {
  color: #fff;
  background-color: #dc3545;
}

.form_item {
  width: 100%;
}

.input {
  text-align: center;
}

.submit_primary {
  color: #007bff;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #007bff;
  font-size: 20px;
  padding: 5px 10px;
  text-decoration: none;
}

.submit_primary:hover {
  color: #fff;
  background-color: #007bff;
}

.search_item {
  width: 40%;
  display: flex;
}

.search_form {
  width: 79%;
  height: 20px;
  margin: 0 1% 20px 0;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 17px;
}

.search {
  width: 19%;
  height: 25px;
  margin: 0 0 20px 1%;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 15px;
}
