/*お店一覧ページ*/
.restaurants {
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #000;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: black;
  margin-bottom: 1px;
}

.restaurants:hover {
  border: 1px solid #007bff;
  background-color: #cce4ff;
}

.restaurant_name_and_time {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.index_restaurant_name {
  font-size: 19px;
  text-align: center;
}

.index_restaurant_registeredtime {
  font-size: 13px;
  text-align: center;
}

.index_description {
  width: 60%;
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
}

.index_description_blank {
  color: #666;
  width: 60%;
  text-align: center;
  border-radius: 5px;
  background-color: #eee;
  padding: 5px;
}

/*お店登録ページ*/
.form_restaurant_name {
  width: 50%;
  height: 20px;
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 15px;
}

.form_restaurant_url {
  width: 100%;
  height: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 15px;
}

.form_restaurant_description {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 15px;
}

/*お店詳細ページ*/
.restaurant_url {
  word-break: break-all;
  margin: 20px 0;
}

.show_description_blank {
  color: #666;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  background-color: #eee;
}

.restaurant_note_text {
  font-size: 20px;
  margin: 10px 0;
}

.restaurantnote_index {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.restaurant_note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid black;
}

.restaurant_note_head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.note_time {
  text-align: right;
}

.restaurant_notes_blank {
  color: #666;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  background-color: #eee;
}

.form_note_name {
  width: 50%;
  height: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 15px;
}

.form_note_comment {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 15px;
}

.link_small {
  border: 1px solid black;
}
